/node_modules
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css/*
/public/js/*
/resources/plugins/*
/public/admin/*
/public/admin/vendor/*
/public/fonts/*
public/mix-manifest.json
/backup
/public/storage/
/public/mix-sri.json
/public/app/*
/resources/views/admin/crm/app/index.blade.php
/public/manifest.webmanifest
/public/images/*
/public/plugins/*
public/videos/home-video-bg.mp4

/resources/views/admin/system/app/index.blade.php
/resources/views/customer/app/index.blade.php
/resources/views/broker/app/index.blade.php

/public/system/*
/public/broker/*
/public/customer/*

/public/ngsw.json
/public/ngsw-worker.js
/public/*.webmanifest
/public/*.webmanifest
/public/ngsw-worker.js.LICENSE.txt
/config/version.php
/storage/framework/tmp